@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

// .container {
//   margin-left: 58px;
//   margin-right: 58px;
// }

ul,
li {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
}

.wrapper {
  overflow-x: hidden;

  .container {
    margin: 58px;

    .navbar {
      position: relative;
      .navbar_contents {
        display: flex;
        align-items: center;
        justify-content: center;
        .navbar_logo {
          img {
            margin-top: -34px;
            margin-left: 4px;
            cursor: pointer;
          }
        }
        .navbar_awards {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          left: 50%;
          right: 42.97%;
          top: 0.35%;
          bottom: 98.89%;
          margin-left: 12%;
          margin-right: 10%;

          .award_text {
            p {
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 12px;
              text-align: center;

              span {
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 21px;
                text-align: center;
                text-transform: uppercase;
              }
            }
          }
        }

        .navbar_contacts {
          margin-left: 5%;
          .navbar_num {
            p {
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 22px;
            }
          }
          .navbar_metro {
            left: 68.51%;
            right: 16.55%;
            top: 0.32%;
            bottom: 98.91%;

            .metro_text {
              .metro {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 65%;
                img {
                  width: 12px;
                  height: 7.76px;
                  margin: 5px;
                }
                img:nth-child(2) {
                  margin-left: 13px;
                }
                p {
                  margin: 6.76px;
                }
                margin-top: 14.55px;
              }
            }
          }
        }
        .navbar_feedback {
          position: relative;

          &:hover {
            text-decoration: underline;
          }

          .feedback_content {
            width: 171px;
            height: 52.7px;
            background: #ffffff;
            box-shadow: 0px 2px 15px #dfdfdf;
            border-radius: 61px;
            display: flex;
            align-items: center;
            cursor: pointer;

            .feed_icon {
              margin-left: 9px;
              margin-top: 4.85px;

              img {
                border-radius: 50%;
                padding: 13px;
                background: linear-gradient(90deg, #a38be2 0%, #7449d0 100%);
                box-shadow: 0px 2px 8px rgba(71, 34, 151, 0.45);
              }
            }
            p {
              margin-left: 13.91px;
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 16px;
              text-transform: uppercase;
              background: linear-gradient(90deg, #7449d0 0%, #7449d0 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
  .navbar_menu {
    background: #f2f2f2;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      opacity: 0.5;

      li {
        margin-left: 51px;
        margin-right: 51px;
        margin-top: 22.3px;
        margin-bottom: 23.27px;

        a {
          font-style: normal;
          font-weight: normal;
          font-size: 17px;
          line-height: 21px;
          color: #4f4f4f;

          &:hover {
            text-decoration: underline;
            color: black;
          }
        }
      }
    }
  }
  .banner {
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;

    .banner_img {
      margin-left: 186px;
    }

    .banner_contents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      left: 10%;
      top: 48px;
      .banner_title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        color: #828282;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        margin-bottom: 24px;
      }
      .banner_subtitle {
        .text {
          font-weight: normal;
          font-size: 45px;
          line-height: 49px;
          text-transform: uppercase;
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
          background-image: linear-gradient(90deg, #7449d0 0%, #7449d0 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .feedback_content {
        width: 268px;
        height: 52.7px;
        margin-top: 52px;
        background: linear-gradient(90deg, #1b9820 0%, #51cb56 100%);
        border-radius: 61px;
        border-radius: 61px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .feed_icon {
          margin-left: 9px;
          margin-top: 4.85px;

          img {
            border-radius: 50%;
            padding: 13px;
            background: linear-gradient(90deg, #1b9820 0%, #51cb56 100%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
        p {
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          display: flex;
          align-items: center;
          color: #ffffff;
          margin-left: 10px;

          &:hover {
            border-bottom: 1px solid white;
          }
        }
      }
      .banner_pagination {
        .page_prev {
          img svg {
            background: linear-gradient(90deg, #472297 0%, #7449d0 100%);
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
  .line {
    position: relative;
    height: 88px;
    width: 100%;
    display: flex;
    align-items: center;

    img {
      position: absolute;
      width: 100%;
      object-fit: cover;
      margin-top: 30px;
    }
    .line_text {
      display: flex;
      margin-left: 62px;

      p {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      p:last-child {
        margin-left: 10px;

        &::before {
          content: '*';
          width: 10px;
          height: 10px;
          background-image: linear-gradient(90deg, #7449d0 0%, #7449d0 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          border-radius: 2px;
          transform: rotate(90deg);
        }
      }
    }
  }

  .bbl {
    .container {
      overflow-x: hidden;
      .bbl_content {
        .bbl_title {
          h1 {
            font-style: normal;
            font-weight: normal;
            font-size: 35px;
            line-height: 43px;
            text-transform: uppercase;
            color: #7449d0;
            margin-bottom: 21px;
            margin-top: 60px;
          }
        }
        .bbl_subtitle {
          p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
          }
          .bbl_desc {
            margin-top: 22px;
            margin-bottom: 56px;
            a {
              font-style: normal;
              font-weight: bold;
              width: 255px;
              height: 16px;
              font-size: 16px;
              line-height: 16px;
              background-image: linear-gradient(
                90deg,
                #7449d0 0%,
                #7449d0 100%
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              &:hover {
                border-bottom: 1px solid #7449d0;
              }
            }
          }
        }
        .bbl_results {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          flex-wrap: wrap;
          margin-bottom: 50px;
          .result_content {
            position: relative;
            display: flex;
            width: 889px;
            height: 333px;
            background: #efebf8;
            box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 0.15);
            border-radius: 30px;
            margin-right: 31px;
            .result_box {
              img {
                border-radius: 20px;
                border-radius: 30px 0px 0px 30px;
                margin-right: 55px;
              }
            }
            .result_box_text {
              .box_text_title {
                h2 {
                  font-style: normal;
                  font-weight: bold;
                  font-size: 24px;
                  line-height: 36px;
                  text-transform: uppercase;
                  color: #000000;
                  margin-right: 44px;
                  margin-top: 58px;
                  margin-bottom: 36px;
                }
              }
              .box_text_subtitle {
                width: 100%;
                p {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 16px;
                  line-height: 24px;
                  color: #000000;
                }
              }
            }
          }

          .register_box {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 333px;
            background: linear-gradient(90deg, #8e67e1 0%, #a58af1 100%);
            box-shadow: 0px 30px 30px -20px rgba(0, 0, 0, 0.15);
            border-radius: 30px;

            .reg_title {
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 27px;
              text-align: center;
              color: #ffffff;
              margin-bottom: 62px;
              margin-top: 24px;
            }
            h2 {
              font-style: normal;
              font-weight: bold;
              font-size: 24px;
              text-align: center;
              letter-spacing: 0.005em;
              color: #ffffff;
              margin-bottom: 20px;
            }
            .feedback_content {
              width: 269px;
              margin-top: 20px;
              background: white;
              border-radius: 61px;
              display: flex;
              align-items: center;
              cursor: pointer;

              .feed_icon {
                margin-left: 8px;
                margin-top: 5px;

                img {
                  border-radius: 50%;
                  padding: 10px 10px 5px;
                  background: linear-gradient(
                    90deg,
                    #a791e2 1.32%,
                    #7449d0 136.84%
                  );
                  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
              }
              p {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                display: flex;
                align-items: center;
                background: linear-gradient(90deg, #472297 0%, #7449d0 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                margin-left: 10px;

                &:hover {
                  border-bottom: 1px solid #7449d0;
                }
              }
            }
          }
        }
      }
    }
  }
}
